---
http_interactions:
- request:
    method: post
    uri: "<BASE_URL>/github/list-issues"
    body:
      encoding: UTF-8
      string: '{"request":{"github_token":"<GITHUB_ACCESS_TOKEN>","repo_owner":"<GITHUB_OWNER>","repo_name":"<GITHUB_REPO>","user_name":"<GITHUB_OWNER>"},"params":{"assignee":"<GITHUB_OWNER>","state":"open","per_page":100}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '[{"url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/issues/4","repository_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>","labels_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/issues/4/labels{/name}","comments_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/issues/4/comments","events_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/issues/4/events","html_url":"https://github.com/<GITHUB_OWNER>/<GITHUB_REPO>/issues/4","id":2453193977,"node_id":"I_kwDOMdmNlM6SOMT5","number":4,"title":"TEST
        ISSUE","user":{"login":"<GITHUB_OWNER>","id":165663989,"node_id":"U_kgDOCd_U9Q","avatar_url":"https://avatars.githubusercontent.com/u/165663989?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_OWNER>","html_url":"https://github.com/<GITHUB_OWNER>","followers_url":"https://api.github.com/users/<GITHUB_OWNER>/followers","following_url":"https://api.github.com/users/<GITHUB_OWNER>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_OWNER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_OWNER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_OWNER>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_OWNER>/orgs","repos_url":"https://api.github.com/users/<GITHUB_OWNER>/repos","events_url":"https://api.github.com/users/<GITHUB_OWNER>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_OWNER>/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":{"login":"<GITHUB_OWNER>","id":165663989,"node_id":"U_kgDOCd_U9Q","avatar_url":"https://avatars.githubusercontent.com/u/165663989?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_OWNER>","html_url":"https://github.com/<GITHUB_OWNER>","followers_url":"https://api.github.com/users/<GITHUB_OWNER>/followers","following_url":"https://api.github.com/users/<GITHUB_OWNER>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_OWNER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_OWNER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_OWNER>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_OWNER>/orgs","repos_url":"https://api.github.com/users/<GITHUB_OWNER>/repos","events_url":"https://api.github.com/users/<GITHUB_OWNER>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_OWNER>/received_events","type":"User","site_admin":false},"assignees":[{"login":"<GITHUB_OWNER>","id":165663989,"node_id":"U_kgDOCd_U9Q","avatar_url":"https://avatars.githubusercontent.com/u/165663989?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_OWNER>","html_url":"https://github.com/<GITHUB_OWNER>","followers_url":"https://api.github.com/users/<GITHUB_OWNER>/followers","following_url":"https://api.github.com/users/<GITHUB_OWNER>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_OWNER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_OWNER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_OWNER>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_OWNER>/orgs","repos_url":"https://api.github.com/users/<GITHUB_OWNER>/repos","events_url":"https://api.github.com/users/<GITHUB_OWNER>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_OWNER>/received_events","type":"User","site_admin":false}],"milestone":null,"comments":0,"created_at":"2024-08-07T10:58:09Z","updated_at":"2024-08-08T10:31:37Z","closed_at":null,"author_association":"OWNER","active_lock_reason":null,"body":"Develop
        a \"Hello World\" in python.","reactions":{"url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/issues/4/reactions","total_count":0,"+1":0,"-1":0,"laugh":0,"hooray":0,"confused":0,"heart":0,"rocket":0,"eyes":0},"timeline_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/issues/4/timeline","performed_via_github_app":null,"state_reason":"reopened"}]'
  recorded_at: Fri, 09 Aug 2024 09:44:06 GMT
recorded_with: VCR 6.2.0
