---
http_interactions:
- request:
    method: post
    uri: "<BASE_URL>/github/create-pull-request"
    body:
      encoding: UTF-8
      string: '{"request":{"github_token":"<GITHUB_ACCESS_TOKEN>","repo_owner":"<GITHUB_OWNER>","repo_name":"<GITHUB_REPO>","user_name":"<GITHUB_OWNER>"},"params":{"head":"new-new-branch","base":"main","title":"New
        Pull Request","body":""}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/pulls/17","id":2012517199,"node_id":"PR_kwDOMdmNlM539JNP","html_url":"https://github.com/<GITHUB_OWNER>/<GITHUB_REPO>/pull/17","diff_url":"https://github.com/<GITHUB_OWNER>/<GITHUB_REPO>/pull/17.diff","patch_url":"https://github.com/<GITHUB_OWNER>/<GITHUB_REPO>/pull/17.patch","issue_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/issues/17","number":17,"state":"open","locked":false,"title":"New
        Pull Request","user":{"login":"<GITHUB_OWNER>","id":165663989,"node_id":"U_kgDOCd_U9Q","avatar_url":"https://avatars.githubusercontent.com/u/165663989?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_OWNER>","html_url":"https://github.com/<GITHUB_OWNER>","followers_url":"https://api.github.com/users/<GITHUB_OWNER>/followers","following_url":"https://api.github.com/users/<GITHUB_OWNER>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_OWNER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_OWNER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_OWNER>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_OWNER>/orgs","repos_url":"https://api.github.com/users/<GITHUB_OWNER>/repos","events_url":"https://api.github.com/users/<GITHUB_OWNER>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_OWNER>/received_events","type":"User","site_admin":false},"body":null,"created_at":"2024-08-09T14:24:59Z","updated_at":"2024-08-09T14:24:59Z","closed_at":null,"merged_at":null,"merge_commit_sha":null,"assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/pulls/17/commits","review_comments_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/pulls/17/comments","review_comment_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/pulls/comments{/number}","comments_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/issues/17/comments","statuses_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/statuses/a6cf297a9c6dfe5a04a93bb67f734310a1b1dd6b","head":{"label":"<GITHUB_OWNER>:new-new-branch","ref":"new-new-branch","sha":"a6cf297a9c6dfe5a04a93bb67f734310a1b1dd6b","user":{"login":"<GITHUB_OWNER>","id":165663989,"node_id":"U_kgDOCd_U9Q","avatar_url":"https://avatars.githubusercontent.com/u/165663989?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_OWNER>","html_url":"https://github.com/<GITHUB_OWNER>","followers_url":"https://api.github.com/users/<GITHUB_OWNER>/followers","following_url":"https://api.github.com/users/<GITHUB_OWNER>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_OWNER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_OWNER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_OWNER>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_OWNER>/orgs","repos_url":"https://api.github.com/users/<GITHUB_OWNER>/repos","events_url":"https://api.github.com/users/<GITHUB_OWNER>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_OWNER>/received_events","type":"User","site_admin":false},"repo":{"id":836341140,"node_id":"R_kgDOMdmNlA","name":"<GITHUB_REPO>","full_name":"<GITHUB_OWNER>/<GITHUB_REPO>","private":false,"owner":{"login":"<GITHUB_OWNER>","id":165663989,"node_id":"U_kgDOCd_U9Q","avatar_url":"https://avatars.githubusercontent.com/u/165663989?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_OWNER>","html_url":"https://github.com/<GITHUB_OWNER>","followers_url":"https://api.github.com/users/<GITHUB_OWNER>/followers","following_url":"https://api.github.com/users/<GITHUB_OWNER>/following{/other_user}","gists_url":"https://api.github.com/users/<GITHUB_OWNER>/gists{/gist_id}","starred_url":"https://api.github.com/users/<GITHUB_OWNER>/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/<GITHUB_OWNER>/subscriptions","organizations_url":"https://api.github.com/users/<GITHUB_OWNER>/orgs","repos_url":"https://api.github.com/users/<GITHUB_OWNER>/repos","events_url":"https://api.github.com/users/<GITHUB_OWNER>/events{/privacy}","received_events_url":"https://api.github.com/users/<GITHUB_OWNER>/received_events","type":"User","site_admin":false},"html_url":"https://github.com/<GITHUB_OWNER>/<GITHUB_REPO>","description":null,"fork":false,"url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>","forks_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/forks","keys_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/keys{/key_id}","collaborators_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/teams","hooks_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/hooks","issue_events_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/issues/events{/number}","events_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/events","assignees_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/assignees{/user}","branches_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/branches{/branch}","tags_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/tags","blobs_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/git/refs{/sha}","trees_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/git/trees{/sha}","statuses_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/statuses/{sha}","languages_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/languages","stargazers_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/stargazers","contributors_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/contributors","subscribers_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/subscribers","subscription_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/subscription","commits_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/commits{/sha}","git_commits_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/git/commits{/sha}","comments_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/comments{/number}","issue_comment_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/issues/comments{/number}","contents_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/contents/{+path}","compare_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/compare/{base}...{head}","merges_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/merges","archive_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/downloads","issues_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/issues{/number}","pulls_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/pulls{/number}","milestones_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/milestones{/number}","notifications_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/labels{/name}","releases_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/releases{/id}","deployments_url":"https://api.github.com/repos/<GITHUB_OWNER>/<GITHUB_REPO>/deployments","created_at":"2024-07-31T16:33:56Z","updated_at":"2024-08-08T11:00:29Z","pushed_at":"2024-08-09T14:24:30Z","git_url":"git://github.com/<GITHUB_OWNER>/<GITHUB_REPO>.git","ssh_url":"git@github.com:<GITHUB_OWNER>/<GITHUB_REPO>.git","clone_url":"https://github.com/<GITHUB_OWNER>/<GITHUB_REPO>.git","svn_url":"https://github.com/<GITHUB_OWNER>/<GITHUB_REPO>","homepage":null,"size":2,"stargazers_count":0,"watchers_count":0,"language":"Python","has_issues":true,"has_projects":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"has_discussions":false,"forks_count":0,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":4,"license":null,"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":[],"visibility":"public","forks":0,"open_issues":4,"watchers":0,"default_branch":"main"}},"base":{"label":"<GITHUB_OWNER>:main","ref":"main","sha":"51b3167881d506c57f33daafc4331c37143e42c1","user":{"login":"<GITHUB_OWNER>","id":165663989,"node_id":"U_kgDOCd_U9Q","avatar_url":"https://avatars.githubusercontent.com/u/165663989?v=4","gravatar_id":"","url":"https://api.github.com/users/<GITHUB_OWNER>","html_url":"https://github.com/<GITHUB_OWNER>","followers_url":"https://api.github.com/users/<GITHUB_OWNER>/followers","following_url":"https://api.github.com/users/<GITHUB_OWNER>/[...]
